<!--
Unfinished
we use an underscore in the filename because it is only a partional file
Navbar copied from bootstrap: https://getbootstrap.com/docs/3.4/components/#navbar

Replace the navbar brand with your own image by swapping the text for an <img>.
Since the .navbar-brand has its own padding and height, you may need to override some CSS depending on your image.
-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
    </div>
  </div>
</nav>
